// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
$color-red: #e10600;
$color-dark-red: #b80a04;
$color-white: #fff;
$color-black: #000000;
$color-lighter-black: #131212;
$color-background-color: #15151e;


@font-face {
    font-family: "Formula";
    src: url(../fonts/Formula1-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Formula";
    src: url(../fonts/Formula1-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Formula";
    src: url(../fonts/Formula1-Wide.woff2) format("woff2");
    font-weight: 700;
}



.custom-header {
    border-bottom: 0.5px solid lightslategray;
    top: 0;
    position: sticky;
    background-color: $color-background-color;
    z-index: 10;

}

.meni {
    background-color: $color-background-color;

}

.btn-outline-light {
    background-color: $color-black;
    border-radius: 15px;
    border: none;
    color: $color-white;

    &:hover {
        background-color: $color-lighter-black;
        color: $color-white;

    }
}

.btn-warning {
    background-color: $color-red;
    border-radius: 15px;
    border: none;
    color: $color-white;

    &:hover {
        background-color: $color-dark-red;
        color: $color-white;
    }
}

.btn-outline-secondary {
    background-color: $color-lighter-black;
    color: $color-white;
    border-radius: 25px;
    border-color: $color-lighter-black;
}

body {
    background-color: $color-background-color;
    color: $color-white;
}

.footercolor {
    color: $color-white;
}


.hero-link {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.hero-border {
    margin-top: 60px;
    border: 6px solid #111;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
    background-color: $color-background-color;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-link:hover .hero-border {
    transform: scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
}

.hero-image-col {
    display: flex;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.hero-link:hover .hero-img {
    transform: scale(1.03);
}


.hero-text {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.kop {
    margin-top: 60px;
    background-color: $color-black;
    padding: 25px 120px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.kopce {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 0 15px;
    height: 55px;
    background-color: #c1c4f4;
    color: black;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.kopce:hover {
    background-color: #aab0f0;
}

.driver-card {
    position: relative;
    height: 320px;
    border-radius: 18px;
    overflow: hidden;
    padding: 25px;
    color: $color-white;
    display: flex;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* background */
.driver-card.first {
    background: linear-gradient(135deg, #ff7a00, #b94a00);
    margin-top: -20px;
}

.driver-card.second {
    background: linear-gradient(135deg, #003a8f, #001f4d);
}

.driver-card.third {
    background: linear-gradient(135deg, #b35a00, #6b2f00);
    margin-top: 15px;
}

/* text */
.driver-info {
    z-index: 2;
    max-width: 60%;
}

.driver-info h3 {
    font-weight: 700;
    margin-bottom: 2px;
}

.driver-info p {
    opacity: 0.85;
    margin-bottom: 15px;
}

.position {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

.pts {
    font-size: 26px;
    font-weight: 800;
}

.pts span {
    font-size: 14px;
    opacity: 0.8;
}

.flag {
    width: 26px;
    margin-top: 10px;
}


.driver-img {
    position: absolute;
    right: -10px;
    bottom: 0;
    height: 95%;
    z-index: 1;
    transition: transform .3s ease;
}

.driver-img-max {
    position: absolute;
    right: -20px;
    bottom: 0;
    height: 85%;
    z-index: 1;
    transition: transform 0.3s ease;
}


.driver-card:hover .driver-img {
    transform: scale(1.05);
}

.driver-card:hover .driver-img-max {
    transform: scale(1.05);
}



.card-custom {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background: #101018;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card-custom .p-3 {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
}

.card-custom img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.45s ease;
}


.card-feature img {
    height: 680px;
}

.card-small img {
    height: 230px;
}

.card-wide img {
    height: 460px;
}

// hover effect

.card-custom::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.35s ease;
}

.card-custom:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.12);
}

.card-custom:hover img {
    transform: scale(1.07);
}

.card-custom:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

// text overlay

.card-feature-text,
.card-wide-text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    font-weight: 700;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.card-feature-text {
    font-size: 2rem;
}

.card-wide-text {
    font-size: 2rem;
}

.card-tag {
    background: #e6007e;
    padding: 3px 10px;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 8px;
}

// section bg
.partners-wrapper {
    width: 100%;
    overflow-x: hidden;
}

.partners-band-top {
    background: #1c1c25;
    padding: 50px 0;
    padding-left: 100px;
    padding-right: 100px;
}

.partners-band-mid {
    background: #303037;
    padding: 30px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.partners-band-bottom {
    background: #47464C;
    padding: 60px 0 65px;
    padding-left: 300px;
    padding-right: 300px;
}

// title terxt
.partners-title {
    font-weight: 900;
    letter-spacing: 1px;
    color: white;
    margin-left: 20px;
}

.partners-view-all {
    color: #ffffffb5;
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
}

.partners-view-all:hover {
    color: #fff;
}

// logo
.partner-logo {
    width: 100%;
    max-width: 80px;
    opacity: .8;
    transition: .2s;
    filter: brightness(0) invert(1);
}

.partner-logo:hover {
    transform: scale(1.08);
    opacity: 1;
}

.copyrgiht {
    font-size: 12px;
}

.futer {
    padding-left: 100px;
    padding-right: 100px;
}

.getit {
    background-color: $color-black;
    border-color: $color-white;
    border-radius: 10px;
}

.formulabold {
    font-family: 'Formula' !important;
    font-weight: 700 !important;
    font-size: 30px;
}

.formula {
    font-family: 'Formula' !important;
    font-weight: 500 !important;
}

.acalukas {
    text-decoration: none;
    color: $color-white;
}

.f1-divider {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 30px 0;
}

.f1-divider-logo {
    height: 30px;
    flex-shrink: 0;
}

.f1-divider-line {
    flex-grow: 1;
    height: 6px;
    background-color: $color-red;
}

.leftright {
    margin-left: 100px;
    margin-right: 100px;
}

.partners-title {
    font-family: 'Formula';
    font-weight: 700;
    font-size: 25px;
}



@media(max-width: 768px) {

    .partners-band-top,
    .partners-band-mid,
    .partners-band-bottom,
    .futer,
    .leftright {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

}

// .kopce { display: flex; justify-content: space-between; align-items: center; padding: 15px 40px; background-color: #c1c4f4; color: $color-black; text-transform: uppercase; border: none; border-radius: 10px; font-size: 18px; cursor: pointer; } .kopce:hover { background-color: #aab0f0; } .button-icon { margin-left: 160px; }


// .bd-placeholder-img {
//   height: 400px; /* or whatever size you want */
//   width: 100%;
// }